{% extends "theme.html" %}

{% block title %}
SignUp
{% endblock %}

{% block extStyle %}
<link rel="stylesheet" type="text/css" href="./static/css/leaderboard.css">
{% endblock %}

{% block body %}
<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span> 
      </button>
      <a class="navbar-brand" href="#">Welcome {{namex}}</a>
    </div>
    <div class="collapse navbar-collapse" id="myNavbar">
      <ul class="nav navbar-nav">
        <li><a href="/home">Home</a></li>
        <li><a href="/rules">Rules</a></li>
        <li class="active"><a href="/instructions">Instructions</a></li>
        
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <li><a href="/logout"><span class="glyphicon glyphicon-user"></span>Logout</a></li>
      </ul>
    </div>
  </div>
</nav>

<div class="content-w3ls instructions" style="position: relative;">
  <p>Greetings Warrior, I am Davos Seaworth and I will be your guide through this journey you are about to embark on. I will now explain to you how the game works.</p><br />
  <p>There are four levels and every level has twenty questions that must be answered.</p>
  <p>Every level has easy, medium and hard questions which on answering correctly you will get 20, 30 and 50 gold coins respectively and in order to receive the best quality of material to build the wall, you have to get as many gold coins as possible.</p>
  <p>The material you receive at the end of each level will have an integral part in the construction of the MSE Wall. At the end of the game the wall with the highest efficiency will be the winner. The efficiency of the wall is calculated by taking the average of the efficiency of the material in each level. The efficiency of the material is dependent on the number of gold coins you win. In the case of a tie between the walls with the same efficiency, the number of gold coins a player has will be checked and declared the winner.</p>
  <p>The questions you will face are based not only on the knowledge of civil engineering but they will also test your IQ, EQ and general knowledge.</p>
  <p>After every level you will have to make a choice whether or not to play the rapid fire round of ten questions and if you complete the criteria for that rapid fire round (criteria will be mentioned before each rapid fire round) within the given time limit, you will win different coupons from our sponsors.</p><br />
  <p>You can collect coupons from the Constructure info desk at Kamath Circle, MIT from 6P.M. to 8.30P.M during TechTatva (3rd to 6th October) only or contact 8290070537. Remember to take a screenshot of the page when you complete the rapid fire round and bring your college ID card when you come to collect coupons.</p><br />
  <p>I wish you the best of luck and may your quest be successful!</p>

  <a href="/question"><button class="register">Continue</button></a>
</div>

{% endblock %}  
