{% extends "theme.html" %}

{% block title %}
SignUp
{% endblock %}

{% block extStyle %}
<link rel="stylesheet" type="text/css" href="./static/css/leaderboard.css">
{% endblock %}

{% block intStyle %}
<style type="text/css">
  body {
    background: {{bg|safe}};
    background-repeat: no-repeat;
    background-size: cover;
  }
}
</style>
{% endblock %}


{% block body %}
<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span> 
      </button>
      <a class="navbar-brand" href="#">Welcome {{namex}}</a>
    </div>
    <div class="collapse navbar-collapse" id="myNavbar">
      <ul class="nav navbar-nav">
        <li><a href="/home">Home</a></li>
        <li><a href="/rules">Rules</a></li>
        <li><a href="/instructions">Instructions</a></li>
<li><a href="/otherevents">Other Events</a></li>
        
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <li><a href="/logout"><span class="glyphicon glyphicon-user"></span>Logout</a></li>
      </ul>
    </div>
  </div>
</nav>

<div class="content-w3ls instructions" style="position: relative; margin-bottom: 20%;">
  <p>As per Bran’s vision and according to his plan of action, Jon Snow and his raiding party set out on their long and tedious journey to Westeros where Cersei Lannister resided on the Iron Throne. They were able to sneak in with great difficulty but only with the help of Jamie Lannister, The King Slayer, who guided them to the magical cave where lay the base, the foundation of their fortification against the intruders. This foundation contained a mix of cement with the finest quality of sand and rocks and would play a monumental role in the strength of their defenses.</p>
  <p>They reach the cave and were greeted by Lord Varys who was waiting their arrival. Jon Snow asks “Lord Varys, how do you know about this place?” to which he replies “You know nothing Jon Snow. I am the Master of Whisperers. My role is to be sly, obsequious and without scruples.” He gives Jon Snow directions and instructions as to navigate through the cave and tells him that this part of his journey is one he must make alone. As Jon Snow makes his way inside the dark, damp cave and after what seemed hours, he came across a blinding light which revealed the first part of the material required, i.e. concrete. Before he can get to it, he is faced with a challenge which determines whether or not he gets the material.</p>
  <a href="/transition"><button class="register">Continue to Level 1</button></a>
</div>
<footer>
  <div style="min-height: 100px; background: #202123; position: relative; padding-bottom: 20px; text-align: center;">
    <h3 style="color: white; font-size: 30px">Our Sponsors</h3>
    <img src="../static/image/sponsor1.jpeg">
    <img src="../static/image/sponsor2.jpeg">
    <p style="color: white;">Contact - Vaibhav : 8290070537 &nbsp;&nbsp;&nbsp; Aenab : 9901803630</p>
  </div>
</footer>
{% endblock %}  
