{% extends "theme.html" %}

{% block title %}
SignUp
{% endblock %}

{% block extStyle %}
<link rel="stylesheet" type="text/css" href="./static/css/leaderboard.css">
{% endblock %}

{% block intStyle %}
<style type="text/css">
  body {
    background: {{bg|safe}};
    background-repeat: no-repeat;
    background-size: cover;
  }
}
</style>
{% endblock %}


{% block body %}
<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span> 
      </button>
      <a class="navbar-brand" href="#">Welcome {{namex}}</a>
    </div>
    <div class="collapse navbar-collapse" id="myNavbar">
      <ul class="nav navbar-nav">
        <li><a href="/home">Home</a></li>
        <li><a href="/rules">Rules</a></li>
        <li><a href="/instructions">Instructions</a></li>
<li><a href="#">Other Events</a></li>
        
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <li><a href="/logout"><span class="glyphicon glyphicon-user"></span>Logout</a></li>
      </ul>
    </div>
  </div>
</nav>

<div class="content-w3ls instructions" style="position: relative; margin-bottom: 20%;">
  <p>Jon and Arya Stark happy with their success were back on their way to Winterfell but now our mighty heroes are faced with an even bigger problem, a lack of gold to buy the other materials and man power to finish the wall. As Bran and Daenerys weigh their options and discuss strategies out comes Tyrion with a plan to save the day by stealing what they require from Casterly Rock. Tyrion chooses Brienne of Tarth to accompany him on his journey and when he asks for volunteers, Tormund Giantsbane raises his hand. Tyrion asks him,” What use are you to me?” and Tormund says,” Plenty of little men have tried to put their swords through my heart. There are plenty of little skeletons buried in the woods.”</p>
  <p>As they approach Casterly Rock by sea, Brienne walks up to Tyrion and stands beside him. Tyrion with a drink in his hand sensing the danger they were walking into tells her,” Death is so final, whereas Life, ah, Life is full of possibilities.” They snuck into the sewage system where they were ambushed by a small army and they started fighting their way through to the heart of Casterly Rock.</p>
  <a href="/question"><button class="register">Continue to Level 3</button></a>
</div>
<footer>
  <div style="min-height: 100px; background: #202123; position: relative; padding-bottom: 20px; text-align: center;">
    <h3 style="color: white; font-size: 30px">Our Sponsors</h3>
    <img src="../static/image/sponsor1.jpeg">
    <img src="../static/image/sponsor2.jpeg">
  </div>
</footer>
{% endblock %}  
