{% extends "theme.html" %}

{% block title %}
SignUp
{% endblock %}

{% block extStyle %}
<link rel="stylesheet" type="text/css" href="./static/css/leaderboard.css">
{% endblock %}

{% block intStyle %}
<style type="text/css">
  a.signup {
    margin-top: 3%;
    margin-right: 14%;
    float: right;
    color: white;
  }
  video {
    position: fixed;
    margin-top: -20px;
  }
}
</style>
{% endblock %}

{% block body %}
<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span> 
      </button>
      <a class="navbar-brand" href="#">Welcome {{namex}}</a>
    </div>
    <div class="collapse navbar-collapse" id="myNavbar">
      <ul class="nav navbar-nav">
        <li><a href="/home">Home</a></li>
        <li><a href="/rules">Rules</a></li>
        <li class="active"><a href="/instructions">Instructions</a></li>
        
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <li><a href="/logout"><span class="glyphicon glyphicon-user"></span>Logout</a></li>
      </ul>
    </div>
  </div>
</nav>
<video autoplay loop id="video-background" muted plays-inline>
  <source src="../static/video/login-signup.mp4" type="video/mp4">
</video>
<div class="content-w3ls instructions instructions-page" style="position: relative;">
  <p style="font-weight: 700;">Fire Escape</p>
  <p>Fire, a good servant but a bad master!<br>
  Ever thought of being controlled by fire before you get to control it? Unleash your inner Sherlock's genius while loaded up with the responsibility of planning an unthinkable rescue operation for citizens inside a building on fire. Can you do it? Let's put your grey cells to test.</p><br /><br />

  <p style="font-weight: 700">Make Your Own Campus (MYOC)</p>
  <p>A university is just a group of buildings gathered around a library and that truly is the case with the MIT Campus. But what if you wanted to make a change, maybe for the better not only for you but also for other students, then here is your chance.<br>
  MYOC is an event in which a scaled map of the MIT Campus is given with only the main road connections and exit points and one has to plan the campus so as to fulfill the minimum capacity of building also keeping in mind other necessary features.</p><br><br>

  <p style="font-weight: 700">Hydraulic bridge</p>
  <p>Ever wondered at how marvellous the hydraulic system of the London Bridge is and how it works. Here is your chance to learn and apply what you’ve learnt as this low rider system will make your bridge go sky high. Learn more about the basics of hydraulics and how they are important in raising bridges in ‘Hydraulic Bridge’</p><br><br>

  <p style="font-weight: 700">Conkreation</p>
  <p>Ever fascinated about how huge and glorious structures of dam are made?or how it works come have a chance to learn the dynamics of a gravity dam and get a practical experience by making a miniature dam of your own. Constructure’18 brings you Conkreation a 4 day event where you get to learn about working and making of and making gravity dam and are provided with real bricks and mortar to make one of your own. The dams are tested on the basis of their strength to hold water.</p>
  
</div>
<footer>
  <div style="min-height: 100px; background: #202123; position: relative; padding-bottom: 20px; text-align: center;">
    <h3 style="color: white; font-size: 30px">Our Sponsors</h3>
    <img src="../static/image/sponsor1.jpeg">
    <img src="../static/image/sponsor2.jpeg">
    <p style="color: white;">Contact - Vaibhav : 8290070537 &nbsp;&nbsp;&nbsp; Aenab : 9901803630</p>
  </div>
</footer>
{% endblock %}  
