{% extends "theme.html" %}

{% block title %}
Question
{% endblock %}

{% block extStyle %}
<link href="../static/css/question.css" rel='stylesheet' type='text/css' media="all" />
{% endblock %}

{% block extJS %}

{% endblock %}
{% block body %}
<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span> 
      </button>
      <a class="navbar-brand" href="#">Welcome {{name}}</a>
    </div>
    <div class="collapse navbar-collapse" id="myNavbar">
      <ul class="nav navbar-nav">
        <li class="active"><a href="/home">Home</a></li>
        <li><a href="#">Rule</a></li>
        <li><a href="/developer">Developers</a></li> 
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <li><a href="/signup"><span class="glyphicon glyphicon-user"></span> Sign Up</a></li>
        <li><a href="/logout"><span class="glyphicon glyphicon-log-in"></span> Logout</a></li>
      </ul>
    </div>
  </div>
</nav>
<div class="formContainer">
  <div class="myform">
    <p id="story">{{params.story}}</p>
    <p id="question">{{params.ques}}</p>
    {%if params.quesImage%}
      <img id="quesImage" src="../static/image/{{params.quesImage}} " alt = "{{params.quesImage}}">
    {%endif%}
    <form action="/question" method="POST">
      <div class="w3layouts"> 
        <input type="text" id="answer" name="answer" placeholder="Answer" required="">
      </div>
      <input type="submit" class="register" value="Submit and Next">
    </form>
    {%if params.hint%}
    <div class="hint">
      <div class="inputRadio hintButton">
        <form action="/showHint" method="POST">
          <input type="submit" name="hint" id="hintSubmit" value="Hint">
        </form>
      </div>
       {%if hint%} 
        <p id="hint">{{hint}}</p>
       {%endif%}
    </div>
    {%endif%}
  </div>

</div>

{% endblock %}