{% extends "theme.html" %}

{% block title %}
SignUp
{% endblock %}

{% block extStyle %}
<link rel="stylesheet" type="text/css" href="./static/css/leaderboard.css">
{% endblock %}

{% block intStyle %}
<style type="text/css">
  a.signup {
    margin-top: 3%;
    margin-right: 14%;
    float: right;
    color: white;
  }
  body {
    background-image: url('../static/image/rules_page.jpg');
    background-repeat: no-repeat;
    background-size: cover;
  }
}
</style>
{% endblock %}


{% block body %}
<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span> 
      </button>
      <a class="navbar-brand" href="#">Welcome {{namex}}</a>
    </div>
    <div class="collapse navbar-collapse" id="myNavbar">
      <ul class="nav navbar-nav">
        <li><a href="/home">Home</a></li>
        <li class="active"><a href="/rules">Rules</a></li>
        <li><a href="/instructions">Instructions</a></li>
<li><a href="#">Other Events</a></li>
        
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <li><a href="/logout"><span class="glyphicon glyphicon-user"></span>Logout</a></li>
      </ul>
    </div>
  </div>
</nav>



<div class="content-w3ls rules rules-page" style="position: relative;">
  <ol id="rulesOL">
    <li>1. The gold coins you earn in one level will only be used during that that level and cannot be carried forward.</li>
    <li>2. The rapid fire round cannot be stopped once started under any circumstances.</li>
    <li>3. You can play every level only once because the queen does not forgive the people who fail her.</li>
    <li>4. There is only one correct answer for each question.</li>
    <li>5. You cannot go back to the question if you’ve skipped or answered it.</li>
    <li>6. If you choose to skip the rapid fire round on one level, you cannot go back to it once you start playing the next level.</li>
    <li>7. If you win the rapid fire round the coupons will be distributed to all the winners on a first come, first serve basis from the Constructure info desk at Kamath Circle, MIT, Manipal, Karnataka from 6P.M. to 8.30P.M during TechTatva (3rd to 6th October) only or contact 8290070537. Remember to take a screenshot of the page when you complete the rapid fire round and bring your college ID card when you come to collect coupons.</li>
    <li>8. Remember, in the Game of Thrones you either win or you die.</li>
  </ol>
  <a href="/question"><button class="register">Continue</button></a>
</div>

<footer>
  <div style="min-height: 100px; background: #202123; position: relative; padding-bottom: 20px; text-align: center;">
    <h3 style="color: white; font-size: 30px">Our Sponsors</h3>
    <img src="../static/image/sponsor1.jpeg">
    <img src="../static/image/sponsor2.jpeg">
  </div>
</footer>
{% endblock %}  
