{% extends "theme.html" %}

{% block title %}
SignUp
{% endblock %}

{% block extStyle %}
<link rel="stylesheet" type="text/css" href="./static/css/leaderboard.css">
{% endblock %}

<style type="text/css">
  a.signup {
    margin-top: 3%;
    margin-right: 14%;
    float: right;
    color: white;
  }
  video {
    position: fixed;
    margin-top: -20px;
  }
}
</style>

{% block body %}
<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span> 
      </button>
      <a class="navbar-brand" href="#">Welcome {{namex}}</a>
    </div>
    <div class="collapse navbar-collapse" id="myNavbar">
      <ul class="nav navbar-nav">
        <li><a href="/home">Home</a></li>
        <li class="active"><a href="/rules">Rules</a></li>
        <li><a href="/instructions">Instructions</a></li>
        
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <li><a href="/logout"><span class="glyphicon glyphicon-user"></span>Logout</a></li>
      </ul>
    </div>
  </div>
</nav>

<div class="content-w3ls rules">
  <ol id="rulesOL">
    <li>1. The gold coins you earn in one level will only be used during that that level and cannot be carried forward.</li>
    <li>2. The rapid fire round cannot be stopped once started under any circumstances.</li>
    <li>3. You can play every level only once because the queen does not forgive the people who fail her.</li>
    <li>4. There is only one correct answer for each question.</li>
    <li>5. Remember, in the Game of Thrones you either win or you die.</li>
  </ol>
  <a href="/question"><button class="register">Continue</button></a>
</div>

{% endblock %}  
