{% extends "theme.html" %}

{% block title %}
SignUp
{% endblock %}

{% block body %}
<style type="text/css">
  a.signup {
  	margin-top: 3%;
  	margin-right: 14%;
  	float: right;
  	color: white;
  }
  video {
    position: fixed;
    margin-top: -20px;
  }
</style>
<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span> 
      </button>
      <a class="navbar-brand" href="#">Welcome</a>
    </div>
    <div class="collapse navbar-collapse" id="myNavbar">
      <ul class="nav navbar-nav">
        <li class="active"><a href="/home">Home</a></li>
        <li><a href="#">Rules</a></li>
        
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <li><a href="/signup"><span class="glyphicon glyphicon-user"></span> Sign Up</a></li>
        <li><a href="/login"><span class="glyphicon glyphicon-log-in"></span> Login</a></li>
      </ul>
    </div>
  </div>
</nav>

<video autoplay loop id="video-background" muted plays-inline>
  <source src="../static/video/file.mp4" type="video/mp4">
</video>

<div class="content-w3ls" style="position: relative;">
	<!-- <div class="content-agile1">
		<h2 class="agileits1">Acumen</h2>
		<p class="agileits2">Hopeless Opus</p>
	</div> -->
	<div class="content-agile2" style="float: right;">
		<form action="/signup" method="POST">
			<div class=" w3layouts"> 
				<input type="text" id="firstname" name="inputName" placeholder="Name" title="Please enter your Name" required="">
			</div>

			<div class=" agileinfo">	
				<input type="text" class="lock" name="inputRegno" placeholder="Registration Number" id="password2" required="">
			</div>

			<div class=" agileinfo">	
				<input type="text" class="lock" name="inputPhone" placeholder="Contact Number" id="password2" required="">
			</div>

			<div class=" w3layouts">	
				<input type="email" id="email" name="inputEmail" placeholder="mail@example.com" title="Please enter a valid email" required="">
			</div>

			<div class=" agileinfo">	
				<input type="password" class="lock" name="inputPassword" placeholder="Password" id="password1" required="">
			</div>	
			<input type="submit" class="register" value="Sign Up">
		</form>
    <a href="/login" class="signup">Already Registered? Signin here</a>
	<div class="clear"></div>
</div>
{% endblock %}  
